{% extends "layouts/baseScrollHeader.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/vanta.net.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/three.min.js' ) }}"></script>


<!--
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.net.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>-->

<section class='container px-6 max-w-7xl z-50 pt-10 md:pt-40 md:ml-32 h-screen'>

    <div
        class='relative flex flex-col w-full md:w-2/5 justify-center items-center md:items-start text-center md:text-left text-gray-100 z-50'>

        <h1 class="text-5xl md:text-6xl font-extrabold z-50 text-left">

            <span class="block"><strong>S</strong>patial</span>
            <span class="block"><strong>I</strong>nteraction</span>
            <span class="block"><strong>D</strong>ecision</span>
            <span class="block"><strong>A</strong>nalytics</span>

        </h1>

        <!--
            <p class="leading-normal text-2xl mb-8 mt-4">
                Sensing, Interpreting, Deciding and Acting
            </p>
        -->

        <a class="mx-4 lg:mx-1 hover:underline text-white font-bold rounded-full mb-2 mt-10 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out z-50 motion-reduce:transition-none motion-reduce:transform-none"
            href="/models" style="background-color: #4717F6;">
            Run Model
        </a>
        <a class="mx-4 lg:mx-1 hover:underline text-white font-bold
                                rounded-full mb-2 mt-5 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline
                                transform transition hover:scale-105 duration-300 ease-in-out z-50 motion-reduce:transition-none motion-reduce:transform-none"
            href="#scrollMarker" style="background-color: #4717F6;">
            Learn More
        </a>
    </div>

    <div class="h-full w-full flex flex-col items-center">

        <div id="network" class="p-16 absolute bottom-14 md:top-48 md:right-20 lg:right-40 z-0 overflow-hidden"
            style="height:500px; width:500px;clip-path: circle(50% at 50% 50%);">
        </div>

    </div>

</section>

<div class="w-screen absolute inset-x-0 bottom-0 h-32 md:mt-16">

    <a href='#scrollMarker' id="scrollMarker">
        <div class="arrow p-6 mb-5 flex flex-col items-center">
            <span></span>
            <span></span>
            <span></span>

        </div>
    </a>
</div>



<section id="wwd" class="container px-6 max-w-7xl text-gray-100 my-4 md:my-0.5">

    <h2 class="text-4xl font-bold p-4 tracking-wide">

        What we do<strong>.</strong>

    </h2>

    <div class="md:flex flex-col md:flex-row md:items-start md:justify-start md:flex-nowrap">

        <p class="text-xl font-medium p-4 leading-relaxed md:flex-grow">
            Bacon ipsum dolor amet kevin capicola alcatra, andouille porchetta landjaeger beef corned beef pancetta
            cupim
            flank sirloin pastrami tenderloin pig. Rump burgdoggen tongue beef ribs meatball bresaola chislic flank
            strip
            steak bacon. Biltong meatball kevin filet mignon flank pork chop picanha.
        </p>

        <img src="https://via.placeholder.com/500x300.png/09/fff" class="my-4 md:my-0 md:relative mx-auto md:mx-12">

    </div>

</section>

<section class="container px-6 max-w-7xl z-50 text-gray-100 my-4">

    <h2 class="text-4xl font-bold p-4 tracking-wide">

        How we do it<strong>.</strong>

    </h2>

    <p class="text-xl font-medium p-4 leading-relaxed">
        Meatball pork chop ribeye, jerky porchetta turducken tail buffalo frankfurter chicken turkey burgdoggen shank.
        Sirloin turkey pork chop spare ribs, corned beef cupim frankfurter andouille buffalo ground round meatloaf
        boudin. Porchetta jowl chicken spare ribs capicola beef pork chop brisket t-bone filet mignon buffalo shankle
        pastrami. Bresaola pig jerky andouille brisket. Do sunt pork esse, bresaola spare ribs in aute duis chislic.
        Frankfurter pancetta buffalo, id sirloin est andouille venison. Nostrud pig commodo shank enim cupim ut salami
        consectetur short ribs incididunt turducken laborum spare ribs.
    </p>


</section>

<hr class="my-4">

<section id="examples" class="container px-6 max-w-7xl z-50 text-gray-100 my-4">

    <h2 class="text-4xl font-bold p-4 tracking-wide">

        Examples<strong>:</strong>

    </h2>

    <div class="w-full mx-auto flex flex-col md:flex-row md:flex-wrap p-3 py-10">

        <div class="flex-grow relative flex-initial md:w-1/3 bg-grey-400 flex justify-between flex-col
                        p-4 rounded-2xl m-2 shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:scale-102 transition
                         duration-300 ease-in-out transform" style="background-color: #241C38;">

            <h4 class="text-3xl font-bold leading-normal text-center">

                Lugano

            </h4>

            <img class="w-full sm:h-64 mx-auto mt-3 p-5" src="https://via.placeholder.com/450x300.png/09/fff">

            <p class="text-xl text-left leading-loose">

                Beef frankfurter tail, shankle porchetta corned beef kielbasa kevin drumstick tri-tip ham hock.
                Turducken salami short ribs chicken tri-tip shoulder. Kevin beef salami burgdoggen cupim.

            </p>
        </div>

        <div class="flex-grow relative flex-initial md:w-1/3 bg-grey-400 flex justify-between flex-col
                        p-4 rounded-2xl m-2 shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:scale-102 transition
                         duration-300 ease-in-out transform" style="background-color: #241C38;">

            <h4 class="text-3xl font-bold leading-normal text-center">

                California

            </h4>

            <img class="w-full sm:h-64 mx-auto mt-3 p-5" src="https://via.placeholder.com/450x300.png/09/fff">

            <p class="text-xl text-left leading-loose">

                Pork venison picanha pig, chicken brisket cupim spare ribs porchetta turkey meatball burgdoggen fatback.
                Chuck ham ham hock prosciutto shoulder tail salami tri-tip short ribs.

            </p>
        </div>

        <div class="flex-grow relative flex-initial md:w-1/3 bg-grey-400 flex justify-between flex-col
                        p-4 rounded-2xl m-2 shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:scale-102 transition
                         duration-300 ease-in-out transform" style="background-color: #241C38;">

            <h4 class="text-3xl font-bold leading-normal text-center">

                Sandefjord

            </h4>

            <img class="w-full sm:h-64 mx-auto mt-3 p-5" src="https://via.placeholder.com/450x300.png/09/fff">

            <p class="text-xl text-left leading-loose">

                Brisket fatback filet mignon buffalo t-bone spare ribs. Burgdoggen venison pork belly short ribs
                turducken cow. Buffalo cupim ham chislic bresaola tongue.

            </p>
        </div>

        <div class="flex-grow relative flex-initial md:w-1/3 bg-grey-400 flex justify-between flex-col
                        p-4 rounded-2xl m-2 shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:scale-102 transition
                         duration-300 ease-in-out transform" style="background-color: #241C38;">

            <h4 class="text-3xl font-bold leading-normal text-center">

                Danmark

            </h4>

            <img class="w-full sm:h-64 mx-auto mt-3 p-5" src="https://via.placeholder.com/450x300.png/09/fff">

            <p class="text-xl text-left leading-loose">

                Tail flank prosciutto landjaeger rump, bresaola leberkas biltong beef pancetta alcatra cupim bacon
                porchetta. Swine pork loin sirloin ground round.

            </p>
        </div>









    </div>


</section>











<script src="{{ url_for('static', filename='js/index.js' ) }}"></script>

{% endblock %}