/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;


strong {
    color: #a239ca;
    text-shadow: 2px 3px 0px #FF0000;
}

hr {
    height:1px;
    border-width:0;
    color:rgba(128, 128, 128, 0.185);
    background-color:rgba(128, 128, 128, 0.226)
}

