
/*
bold
*/

strong {
    color: #a239ca;
    text-shadow: 2px 3px 0px #FF0000;
}




/*
Scroll Down Arrow
rafael amorim
https://codepen.io/raf187/pen/BvgGRQ
*/

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    /* 4717F6 OG: 06A8FF */
    border-bottom: 5px solid #4717F6;
    border-right: 5px solid #4717F6;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
    padding: 15px 15px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
 }
.hamburger:hover {

    opacity: 0.7; 

}
.hamburger.is-active:hover {

    opacity: 0.7; 

}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {

    background-color: rgba(243, 244, 246); 

}

.hamburger-box {

    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    
 }

.hamburger-inner {

    display: block;
    top: 50%;
    margin-top: -2px; 

}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {

    width: 40px;
    height: 4px;
    background-color: rgba(243, 244, 246);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 

}
.hamburger-inner::before, .hamburger-inner::after {

    content: "";
    display: block;

}
.hamburger-inner::before {

    top: -10px; 

}
.hamburger-inner::after {

    bottom: -10px; 

}


.hamburger--slider .hamburger-inner {

    top: 2px;

}
.hamburger--slider .hamburger-inner::before {

    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;

}
.hamburger--slider .hamburger-inner::after {

    top: 20px; 

}

.hamburger--slider.is-active .hamburger-inner {

    transform: translate3d(0, 10px, 0) rotate(45deg);

}
.hamburger--slider.is-active .hamburger-inner::before {

    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;

}
.hamburger--slider.is-active .hamburger-inner::after {

    transform: translate3d(0, -20px, 0) rotate(-90deg);
}