<nav id="navMenu"
    class="hidden mx-auto text-right md:text-center md:flex md:flex-row md:items-center md:justify-start text-lg leading-snug font-bold"
    style="color: #E7DFDD;z-index: 999;">

    <a href='#' class="hover:bg-gray-400 rounded-md m-4">
        <ul class=" p-2 mx-3">

            Home


        </ul>

    </a>

    <a href='#' class="hover:bg-gray-400 rounded-md m-4">
        <ul class=" p-2 mx-3">

            Model


        </ul>

    </a>

    <a href='#' class="hover:bg-gray-400 rounded-md m-4">
        <ul class=" p-2 mx-3">

            About


        </ul>

    </a>

</nav>