<div class="flex flex-row items-center justify-between md:inline-block">
    <a class="flex justify-center items-center ml-4 p-4 tracking-wide" href="/">

        <strong class="text-3xl">SIDA</strong>

        <div class="hidden md:inline-block mx-4 lg:mx-1 text-white font-bold
         py-3 px-5 shadow-lg focus:outline-none focus:shadow-outline
        absolute right-3 mr-4
        transform transition hover:scale-105 duration-300 ease-in-out motion-reduce:transition-none motion-reduce:transform-none"
            style="background-color: #4717F6;">

            Big button

        </div>

    </a>

    <button class="md:hidden sm:inline-block p-4 hamburger hamburger--slider " type="button" aria-label="Menu"
        aria-controls="navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>




</div>