<!DOCTYPE html>
<html lang="en" class="font-sans overflow-x-hidden overflow-y-scroll">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | SIDSaaS </title>

    <link href="{{ url_for('static', filename='css/tailwind.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/vanta.net.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/three.min.js' ) }}"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.net.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body style="background-color: #0e0b16;">

    {% include 'components/header.html' %}

    <main class="h-screen w-screen pt-24">

        {% block content %}
        {% endblock %}

    </main>

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html'%}



</body>

</html>